.form {
  padding: 20px 32px;
  border: 1px solid #e7e7ba;
  border-radius: 8px;
  box-shadow: 0 1px 2px 2.5px rgba(53, 53, 2, 0.05);
  width: 50%;
}

.title {
  padding: 0.5rem 0;
  font-size: 2em;
  margin-bottom: 2rem;
  color: #777773;
}

.form-control {
  margin-bottom: 2rem;
}

.label {
  font-size: 1.6rem;
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 4px;
  font-size: 1.4rem;
  color: #777773;
  border: 1px solid #cfcfc0;
  transition: all 150ms ease-out;
}
.form-input:focus-visible {
  outline: 1px solid #c2c252;
}

.btn {
  margin-top: 1.2rem;
  border-radius: 4px;
  background-color: #d3d307;
  transition: all 150ms ease-out;
}

.btn:hover {
  background-color: #b3b30e;
}

.divider {
  margin: 32px 0;
  height: 1px;
  background-color: #e4e4db;
}
